@import "../../../styles/mixin.scss";

.searchResult-page {
  @include wh(100%, 100%);

  .search-input {
    .at-search-bar__input {
      padding: 0 74px;
    }
  }
  
  .items-grid-view {
    padding: 0 28px;

    .no-data {
      text-align: center;
      padding: 30px 0;
    }
  }

  .data-tips {
    padding:20px 0;
    text-align: center;
    color: #999;
    font-size:12Px;
  }

  .loading-tips {
    padding:20px 0;
    text-align: center;
    color: #999;
    font-size:12Px;
  }

}
