.Avatar{
  position: relative;
  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .user-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .pic-btn {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}