.couponsInfo {
  .common-coupon {
    width: 343*2px;
    height: 180px;
    margin: 4% auto;
    background: #ccecff;
    border-radius: 5px;

    .coupop-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .discount-price {
      margin: 35px 0 0 40px;
    }

    .coupop-price {
      font-family: PingFangSC-Medium;
      color: #4164ff;
      letter-spacing: 0;
    }

    .symbol-money {
      font-size: 26px;
    }

    .money {
      line-height: 36px;
      font-size: 56px;
    }

    .discount-type {
      line-height: 26px;
      display: block;
      margin: 6px 0 10px 40px;
      font-size: 26px;
    }

    .discount-time {
      margin: 15px 0px 34px 40px;
      line-height: 12Px;
      font-size: 12Px;
    }

    // .discount-time {
    //   font-size: 12Px;
    // }

    .coupop-btn{
      margin-right: 15px;

      .at-button--small {
        width: 160px;
        border-radius: 2px;
        height: 60px;
        font-family: PingFangSC-Regular;
        font-size: 12Px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 54px;
      }
    }

    .taro-img {
      border-radius: 50%;
      width: 140px;
      height: 140px;
      float: right;
      margin-right: 15px;
    }
  }

  // 已使用
  .used {
    background: #f3f4f5;
    
    .coupop-price{
      color: #999;
    }

    .taro-img {
      width: 170px;
      height: 170px;
      position: relative;
      left: 20px;
    }

    .coupop-btn {
      .use-coupon {
        width: 160px;
        height: 60px;
        background: #f3f4f5;
        color: #999 !important;
        border: 1Px solid #999;
        text-align: center;
        line-height: 60px;
      }
    }
  }

}
