.agreement{
  padding: 30px;
  font-size: 14Px;
  color: #333;
  .h1{
    font-weight: bolder;
    font-size: 16Px;
    text-align: center;
    color: #333;
  }
  .h2{
    text-indent: 12Px;
    font-size: 15Px;
    color: #333;
  }
  .agreement-container{
    color: #666;
  }
  .div{
    text-indent: 12Px;
  }
}