.payResult{
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .imgwrap{
    width: 284px;
    margin-top: 90px;
  }
  .success_text{
    font-size: 24Px;
    margin-bottom: 46px;
  }
  .success_price{
    font-size: 14Px;
  }
  .success_price_money{
    color: #4164ff 
  }
  .success_btn{
    width: 100%;
    margin-top: 66px;
    display: flex;
    justify-content: space-around;

  }
  .at-button{
    width: 240px;
  }
  .success_ok{
    margin-top: 188px;
    width:624px;
    .at-button{
      width: 100%;
    }
  }
}